{% extends 'base.html.twig' %}

{% block title %}
    Vista del bibliotecario
{% endblock %}

{% block header %}
    <div class="col">
        <div class="card card-body" style=" width: 240px; 
                                            background-color: #b9e9f0;
                                            border: 5px solid #659bd8 ; 
                                            text-align: center;
                                            position: center;">
            <h1>{{ cantidad_libros }} <br>
            cantidad de libros</h1>    
        </div>
    </div>   
{% endblock %}

{% block body_left %}
    <br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="vencidos-tab" data-bs-toggle="tab" href="#vencidos" role="tab" aria-controls="vencidos" aria-selected="true">vencidos</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="disgusto-tab" data-bs-toggle="tab" href="#disgusto" role="tab" aria-controls="disgusto" aria-selected="false">No deseados</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="prestado-tab" data-bs-toggle="tab" href="#prestado" role="tab" aria-controls="prestado" aria-selected="false">Prestados</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="vencidos" role="tabpanel" aria-labelledby="vencidos-tab">
            <div class="card custom-cargarContenidoVencidos>
                <div class="card-header custom-card-header">
                    <h1>Nombres</h1>           
                </div>
                <div class="card-body custom-card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Autor</th>
                                    <th>Fecha de prestamo</th>  
                                    <th>Dias de atraso</th>
                                    <th>Nombre</th>    
                                </tr>
                            </thead>
                            <tbody>
                                {% for prestamo in prestamos_vencidos %}
                                    <tr>
                                        <td>{{ prestamo.books.title }}</td>
                                        <td>{{ prestamo.books.author }}</td>
                                        <td>{{ prestamo.checkaoutDate | date('d-m-Y') }}</td>
                                        <td>{{ date('now').diff(prestamo.checkaoutDate )|date("%a") - 7 }}</td> 
                                        <td><a href="#" onclick="cargarContenidoVencidos({{ prestamo.id}}); return false;">{{ prestamo.users.username }}</a></td>
                                    </tr>   
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <div class="tab-pane fade" id="disgusto" role="tabpanel" aria-labelledby="disgusto-tab">
            <b>
                Libros que estan en presamo
            </b>
        </div>
        <div class="tab-pane fade" id="prestado" role="tabpanel" aria-labelledby="prestado-tab">
            <b>
                Libros que estan en presamo
            </b>       
        </div>
    </div>
{% endblock %}

{% block body_right %}
    <div class="cja" id="detalle_vencidos" style="  display: none;">
        <table class="table table-bordered" style="background-color: #b5c0fa  ">
            <thead class="table-light">
                <tr>
                    <th><p>Descripción del prestamo:</p></th>
                </tr>
                <tr>
                    <th>Atributo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre de usuario</td>
                    <td id="username">Fila 1, Celda 2</td>
                </tr>
                <tr>
                    <td>Direccion</td>
                    <td id="street">Fila 1, Celda 2</td>
                </tr>
                <tr>
                    <td>Localidad</td>
                    <td id="state">Fila 2, Celda 2</td>
                </tr>
                <tr>
                    <td>Titulo del libro</td>
                    <td id="title">Fila 3, Celda 2</td>
                </tr>
                <tr>
                    <td>Autor</td>
                    <td id="author">Fila 4, Celda 2</td>
                </tr>
                <tr>
                    <td>Fecha de retardo</td>
                    <td id="checkout_date">Fila 5, Celda 2</td>
                </tr> 
                    <td>Enviar Email</td>
                    <td><button class="btn btn-light">Enviar correo electronico</button></td>
                </tr>
            </tbody>           
        </table>               
    </div>
{% endblock %}  

{% block javascripts %}
    <script>
    function cargarContenidoVencidos(id){
        document.getElementById('detalle_vencidos').style.display = 'block';
        axios.get('/vencidos/'+id)
            .then(response => {
                jsonString = JSON.parse(response.data);
                console.log(jsonString);
                document.getElementById('username').textContent = jsonString.username;
                document.getElementById('street').textContent = jsonString.street;
                document.getElementById('state').textContent = jsonString.state;
                document.getElementById('title').textContent = jsonString.title;
                document.getElementById('author').textContent = jsonString.author;
                document.getElementById('checkout_date').textContent = new Date(jsonString.checkout_date.date).toLocaleDateString();
            })
            .catch(error => console.error('Error:', error));
    }
    </script>
{% endblock %}
              